@use './styles/partials/variables';
@use './styles/partials/mixins';

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  @include mixins.scrollbar;
  background-color: variables.$light-green-color;
  font-family: variables.$main-font;
  font-size: 15px;
  overflow-x: hidden;
}